{{ attach_library('sasha_cat/sasha_cat_library') }}
{{ form }}
  {% for cat in list %}
    <div class="cat-table">
      <h5 class="cat-date">{{ cat.date }}</h5>
      <div class="cat-tb">
        <h3 class="cat-name">{{ cat.name }}</h3>
        <h3 class="cat-email">{{ cat.email }}</h3>
        <h3 class="cat-photo">{{ cat.image }}</h3>
      </div>
    </div>
  {% endfor %}
